*{
    margin:0;
    padding:0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}

.logo{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:40%;
    border-radius: 50%;
    border: 3px solid black;
}

.nav-list{
   width:70%;
   display:flex;
   align-items:center;
   justify-content: center;

}

.nav-list li{
    list-style: none;
    padding:26px 30px;

}

.nav-list li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-list li a:hover{
    text-decoration: none;
    color:chocolate;
}

.rightNav{
    width:30%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding:5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0,0,0,0.5) url("https://images.unsplash.com/photo-1517210067403-d86a5703516f?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-blend-mode: darken;
}

.box-main{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height:80%;

}

.firstSection{
    height:100vh;
}

.firsthalf{
    width:80%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.secondhalf{
    width:30%;

}

.secondhalf img{
    width:70%;
    border:4px solid black;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-small{
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    padding:8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: chocolate;
    font-size: large;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    color: white;
}

.btn-sm:hover{
    background-color: chocolate;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section{
    height:400px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    max-width: 80%;
    margin:auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.paras{
    padding:0px 65px;
}

.section-left{
    flex-direction: row-reverse;
    height:500px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    max-width: 80%;
    margin:auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.sectionSubTag{
    font-family: Arial, Helvetica, sans-serif;
}

.thumbnail img{
    border: 3px solid black;
    border-radius: 26px;
}

.contact{
    background-color: rgb(251, 242, 226);
    height:50vh;
}

.text-center{
    text-align: center;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.form{
    max-width: 500px;
    margin:42px auto;
}

.form input{
    width:100%;
    font-size:19px;
    border: 2px solid grey;
    border-radius: 6px;
    margin:14px 0;
    padding:5px 3px;
}

.btn-dark{
    color:black;
    border: 2px solid black;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-dark:hover{
    background-color: chocolate;
}

.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    color:white;
}



